@import "styles/color";

.store-section {
  background-color: $gray-3;
  padding: 50px 125px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .btn {
      cursor: pointer;
      background-color: $black;
      color: $white;
      border-radius: 8px;
      padding: 6px 8px;
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;
  }
}

.event-news-section {
  display: flex;
  background-color: $gray-1;
  padding: 50px 125px;

  // TODO: RWD
  .event-column {
    margin-right: 24px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    > p {
      font-family: "NeuzeitGroteskW01-Regular";
      font-size: 24px;
      line-height: 24px;
    }

    .btn {
      cursor: pointer;
      background-color: $black;
      color: $white;
      border-radius: 8px;
      padding: 6px 8px;
    }
  }

  .cards {
    > div {
      margin-bottom: 16px;
    }
  }
}
