$black: #000000;
$black-light: rgba(0, 0, 0, 0.5);
$card-bg-color: rgba(255, 255, 255, 1);
$gray-tag-bg-color: rgba(0, 0, 0, 0.05);
$text-light-color: rgba(0, 0, 0, 0.7);
$card-dividing-line: rgba(0, 0, 0, 0.1);
$shadow-color: rgba(0, 0, 0, 0.16);
$green-tag-bg-color: #6cc978;
$white: #ffffff;
$navbar-item: rgba(83, 71, 65, 1);
