@import "color";

@mixin card-container {
  color: $black;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 $shadow-color;
  background-color: $card-bg-color;
}

@mixin card-title {
  color: $black;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

@mixin card-description {
  color: $black-light;
  font-size: 14px;
  line-height: 1.5;
  margin: 8px 0 43px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@mixin gray-tag {
  color: $text-light-color;
  background-color: $gray-tag-bg-color;
  border-radius: 2px;
  padding: 4px 8px;
  margin: 4px 4px 0 0;
  font-size: 13px;
  line-height: 1.538;
}

@mixin info-block {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $card-dividing-line;
  color: $text-light-color;
  padding-top: 16px;
  margin-top: 16px;
  font-size: 13px;

  > div {
    display: flex;

    > p {
      align-self: center;
    }
  }
}
