@import "styles/mixin";
@import "styles/color";
@import "styles/screenSize";

.navbar-container {
  display: flex;
  justify-content: center;

  .navbar {
    display: flex;
    height: 64px;
    width: 80%;

    .menu {
      display: none;
    }

    .logo {
      @include card-title;
      align-self: center;
    }

    .nav-content {
      display: flex;
      margin-left: 120px;

      > div {
        color: $navbar-item;
        font-size: 14px;
        align-self: center;
        margin-right: 24px;
        cursor: pointer;
        line-height: 64px;
        height: 64px;
        box-sizing: content-box;
      }

      .current {
        border-bottom: 4px solid $black;
        height: 60px;
      }
    }

    .avatar {
      margin-left: auto;
      align-self: center;
    }
  }
}

@media (max-width: $small-screen) {
  .navbar-container {
    .navbar {
      width: 100%;
      justify-content: space-between;
      padding: 0 16px;

      .menu {
        display: block;
        align-self: center;
        cursor: pointer;

        > img {
          height: 18px;
          width: 18px;
        }
      }

      .nav-content {
        display: none;
      }

      .avatar {
        margin-left: unset;
      }
    }
  }
}
