@import "styles/mixin";

.event-card-container {
  @include card-container;
  display: flex;
  max-height: 257px;

  img {
    max-height: 257px;
    border-radius: 8px 0 0 8px;
  }

  .text-block {
    padding: 16px;
  }

  .date-row {
    display: flex;
    justify-content: space-between;

    .date {
      font-size: 22px;
      color: gray;
      font-weight: 700;
    }
    
    .tag {
      @include green-tag;
    }
  }

  .main {
    .title {
      @include card-title;
    }

    .description {
      @include card-description;
    }

    .tag-row {
      display: flex;

      .tag {
        @include gray-tag;
      }
    }
  }

  .info {
    @include info-block;
  }
}
