@import "styles/mixin";
@import "styles/color";
@import "styles/screenSize";

.news-card-container {
  @include card-container;
  padding: 16px;

  .header-row {
    display: flex;
    justify-content: space-between;

    .date {
      font-size: 13px;
      line-height: 1.846;
      color: $black-light;
    }
  }

  .title {
    @include card-title;
  }

  .description {
    @include card-description;
    margin-bottom: 0;
  }
}

@media (max-width: calc(#{$medium-screen} - 1px)) {
  .news-card-container {
    .header-row {
      flex-wrap: wrap;
    }

    .title {
      font-size: 14px;
    }
  }
}
